plugins:
- name: example-plugin
  description: Does something REALLY cool
  homepage: https://github.com/example/terraform-plugin
  authors:
  - name: Josh Ghiloni
    email: ghiloni@gmail.com
    company: Ghiloni Ideaworx
  - name: My Partner
    email: someone@example.net
  versions:
  - version: 1.0.2
    download:
      linux/amd64: 
        locator: https://some-site.com/example-plugin/1.0.2/example-plugin-linux-amd64
        type: native
        info:
          sha256sum: 234
      windows/amd64:
        locator: "@myorg/mynpm-library"
        type: nodejs
        info:
          extraArgs: ["--somearg","somevalue"]
